flask
gguf
gradio
huggingface_hub
PySide6
requests
beautifulsoup4

angle-emb
sentence-transformers
faiss-cpu

duckduckgo-search
python-dotenv

TTS
simpleaudio

pydub
faster-whisper
webrtcvad

openai

